<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /military_logistics/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
